<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/5d/c3/88/5dc388a82bab79cb2e56431b324cec89.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <div class="logo">
        <img class="logo-img" src="https://i.pinimg.com/originals/5d/c3/88/5dc388a82bab79cb2e56431b324cec89.png" />
    </div>
    <div class="logo">
        <h2><b>Dashboard</b></he>
    </div>
    <p class="d-grid gap-2">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseClients" aria-expanded="false" aria-controls="collapseExample">
            Clients
        </button>
    </p>
    <div class="collapse" id="collapseClients">
        <div class="card card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Birth date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in clients %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.birth_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
    <p class="d-grid gap-2">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseMedicaments" aria-expanded="false" aria-controls="collapseExample">
            Medicaments
        </button>
    </p>
    <div class="collapse" id="collapseMedicaments">
        <div class="card card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in medicaments %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
    <p class="d-grid gap-2">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePharmacy" aria-expanded="false" aria-controls="collapseExample">
            Pharmacies
        </button>
    </p>
    <div class="collapse" id="collapsePharmacy">
        <div class="card card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pharmacies %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
    <p class="d-grid gap-2">
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseRequest" aria-expanded="false" aria-controls="collapseExample">
            Requests
        </button>
    </p>
    <div class="collapse" id="collapseRequest">
        <div class="card card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Pharmacy</th>
                        <th scope="col">Medicament</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requests %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.client.name}}</td>
                        <td>{{item.pharmacy.name}}</td>
                        {% for medicament in item.medicament.all %}
                            <td>{{medicament.name}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
</body>
</html>